@charset "utf-8";
/* ------------------------------
   DESIGN/LAYOUT ELEMENTS
------------------------------ */
a:link, a:visited, a:active { text-decoration: underline; color: #000;}
a:hover { text-decoration: none; }

#wrapper {
  margin: 0 auto;
  padding: 20px 0;
  width: 800px;
  text-align: left;
}

.btnArea {}

p {
  padding-bottom: 2em;
  font-size: 1em;
  line-height: 1.8em;
  text-align: left;
}

/* ------------------------------
   CHAPTER ELEMENTS
------------------------------ */
.slideShow {
  margin: 20px auto 30px auto;
  width: 800px;
  text-align: left;
  position: relative;
}

.slideShow ul {
  width: 100%;
}

.slideShow ul li {
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  position: absolute;
}

.slideShow ul li img {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  #wrapper {
    width: 90%
  }

  .slideShow {
    width: 100%;
  }
}

/* PagiNation
--------------------------- */
.pagiNation {}

.pagiNation a {}

.pagiNation a:hover {}

.pagiNation a.pnActive {}

.pagiNation a.pnActive:hover {}

/* SideNavi
------------------------- */
.slideShow .btnPrev,
.slideShow .btnNext {
}

.slideShow .btnPrev {}

.slideShow .btnNext {}

.slideShow .btnPrev:hover,
.slideShow .btnNext:hover {}