@charset "utf-8";
/* ------------------------------
   DESIGN/LAYOUT ELEMENTS
------------------------------ */
a:link,a:visited,a:active { text-decoration: underline; color: #000; }
a:hover { text-decoration: none; }

#wrapper {
  margin: 0 auto;
  padding: 80px 0;
  width: 800px;
  text-align: left;
}

p {
  padding-bottom: 2em;
  font-size: 1em;
  line-height: 1.8em;
  text-align: left;
}

/* ------------------------------
   CHAPTER ELEMENTS
------------------------------ */
.ttpShow {
  display: none;
}

#ttpPanel {
  padding: 15px;
  width: 200px;
  text-align: left;
  display: none;
  background: #fff;
  border: #ccc 3px solid;
  position: absolute;
  z-index: 99;
}