@charset "utf-8";
/* ------------------------------
   DESIGN/LAYOUT ELEMENTS
------------------------------ */
a:link, a:visited, a:active, a:hover { text-decoration: none; color: #000; }

#wrapper {
  padding: 50px 0;
  width: 100%;
  text-align: center;
}

/* ------------------------------
   CHAPTER ELEMENTS
------------------------------ */
#tabAccordion {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  border: #aaa 1px solid;
  position: relative;
}

#tabAccordion dl {
  top: 0;
  left: 0;
  width: 800px;
  position: absolute;
}

#tabAccordion dl dt {
  top: 0;
  left: 0;
  width: 200px;
  position: absolute;
  background: #ebebeb;
  background: linear-gradient(to bottom, #ebebeb 45%, #d8d8d8 55%);
  border-bottom: #aaa 1px solid;
  border-right: #aaa 1px solid;
  box-sizing: border-box;
}

#tabAccordion dl:nth-child(2) dt {
  left: 200px;
}

#tabAccordion dl:nth-child(3) dt {
  left: 400px;
}

#tabAccordion dl:nth-child(4) dt {
  left: 600px;
  border-right: none;
}