@charset "utf-8";
/* ------------------------------
   DESIGN/LAYOUT ELEMENTS
------------------------------ */
#wrapper {
  margin: 0 auto;
  padding: 100px 0;
  width: 800px;
  text-align: left;
}

/* ------------------------------
   CHAPTER ELEMENTS
------------------------------ */
.loopSlider {
  margin: 0 auto;
  width: 500px;
  height: 100px;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.loopSliderWrap {
  top: 0;
  left: 0;
  height: 100px;
  overflow: hidden;
  position: absolute;
}

.loopSlider ul {
  height: 100px;
  float: left;
  overflow: hidden;
}

.loopSlider ul li {
  width: 100px;
  height: 100px;
  float: left;
  display: inline;
  overflow: hidden;
}

/* ------------------------------
   CLEARFIX ELEMENTS
------------------------------ */
.loopSliderWrap:before,
.loopSliderWrap:after,
.loopSlider ul:before,
.loopSlider ul:after {
  content: " ";
  display: table;
}
.loopSliderWrap:after,
.loopSlider ul:after {clear: both;}
.loopSliderWrap,
.loopSlider ul {*zoom: 1;}