@charset "utf-8";
/* ------------------------------
   DESIGN/LAYOUT ELEMENTS
------------------------------ */
a:link,a:visited,a:active,a:hover { text-decoration: none;}

#wrapper {
	padding: 80px 0;
}

/* ------------------------------
   CHAPTER ELEMENTS
------------------------------ */
.cssAnim {
	padding: 15px 0;
	width: 150px;
	color: #000;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	background-color: #cfcfcf;
	border: #999 1px solid;
	transition: all 0.3s linear;
}

.bdrRadius {
	border-radius: 15px;
}

