@charset "utf-8";
/* ------------------------------
   DESIGN/LAYOUT ELEMENTS
------------------------------ */
#wrapper {
  padding: 80px 0;
  width: 100%;
  text-align: center;
}

img {
  margin: 0 auto;
}