@charset "utf-8";
/* ------------------------------
   DESIGN/LAYOUT ELEMENTS
------------------------------ */
body {
  background: transparent url(../img/bg100.png) repeat top left;
}

#wrapper {
  height: 1000px;
}

p {
  width: 100%;
  top: 140px;
  left: 0;
  font-size: 15px;
  text-align: center;
  position: fixed;
}